<html>
    <head>
    <title> Login </title>
    <link rel="stylesheet" href="/static/homepage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>Login</h1>
        <form action="/home" method="POST">
            {{error}}
            <h5>Username:</h5>
            <input type="text" name="user" ><br>
            <h5>Password:</h5>
            <input type="text" name="pass" ><br>
            <input type="submit" name="submit">
        </form>
        <form action="/create_account" method="POST">
            <h5>No Account? Create One!</h5>
            <button type="hidden" name="create_account" value="create account"><img src="/static/Add_to_Cart__4_-removebg-preview.png" alt ="checkoutphoto" style="width:120px;height:120px;"></button>
        </form>
    </body>
</html>