<html>
    <head>
        <title> Cart </title>
        <link rel="stylesheet" href="/static/homepage.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        </head>
        <body>
            <h1>Sophia's Favorite Video Games<img src="/static/giphy.gif" alt="gif" style="width:48px;height:48px;"></h1>
            <div class="topnav">
                <a class="active" href="http://10.3.57.145:8080">Everything</a>
                <a href="http://10.3.57.145:8080/switch">Nintendo Switch</a>
                <a href="http://10.3.57.145:8080/playstation">PlayStation 5</a>
                <a href="http://10.3.57.145:8080/pc">PC</a>
                <a href="http://10.3.57.145:8080/search_notloggedin">Search</a>
                <a href="http://10.3.57.145:8080/login" class="button">Login</a>
            </div>
            <form action="/searchresult_notloggedin" method="POST">
                <h5>Search for a Game:</h5>
                <input type="text" name="search" ><br>
                <input type="submit" name="submit">
            </form>
        
    </body>
</html>